{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CajasAperturas list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Horacierre</th>
                <th>Abierta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cajasaperturas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.horaCierre %}{{ entity.horaCierre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.abierta }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cajasaperturas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cajasaperturas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cajasaperturas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
